/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(0, 0, 0, 0.829);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #00e5ff;
}

header ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

header ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

header ul li a:hover {
  color: #00e5ff;
}


/* ===== CONTAINER PRINCIPAL ===== */
#homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 60px;
  gap: 60px;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #f5f5f5;
  line-height: 1.6;
}

.metade {
  flex: 1;
}

/* Texto */
.metade h2 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
}

.metade h2 span {
  color: #00e5ff;
  text-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
}

.metade h3 {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #ccc;
}

/* Botões */
.botoes {
  display: flex;
  gap: 20px;
}

.botoes button {
  background: linear-gradient(45deg, #00e5ff, #007bb2);
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 229, 255, 0.3);
}

.botoes button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.botoes button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 229, 255, 0.5);
}

/* Imagem */
#homepage .metade img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 75vh;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease;

}

#homepage .metade img:hover {
  transform: scale(1.05);
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 900px) {
  #homepage {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .botoes {
    justify-content: center;
  }
}